/*Section 3*/
.page_section-s3 {
    .content {
        .content-column.content-column--left {
            margin-right: 7rem;
            z-index: 2;
        }
    }

    .iphone-image-group {
        position: relative;
        position: relative;
        z-index: 10;
        z-index: 5;
    }

    .iphone-screen {
        align-items: center;
        background-color: #fff;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 485px;
        left: 18px;
        overflow: hidden;
        position: absolute;
        top: 17px;
        width: 225px;
        z-index: 1;

        .icon-screen-app-buttons {
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 10;
        }

        .icon-screen-circle-red {
            background-color: #ff2817;
            border-radius: 300px;
            height: 600px;
            left: 50%;
            margin-left: -300px;
            position: absolute;
            top: -426px;
            width: 600px;
            z-index: 1;
        }

        .screen-nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 30px 25px;
            position: relative;
            width: 100%;
            z-index: 2;
        }

        .icon-screen-money-icon {
            margin-top: 20px;
            position: relative;
            z-index: 2;
        }

        .icon-screen-wallet {
            margin-top: 30px;
            position: relative;
            z-index: 3;
        }

        .screen-money {
            margin-top: 40px;
            position: relative;
            z-index: 3;
        }

        .text-money {
            color: #ff2817;
            font-size: 38px;
            font-weight: 300;
        }
    }

    .icon-screen-check {
        position: absolute;
        top: 160px;
        z-index: 3;
    }

    .iphone-hardware {
        z-index: 10;
    }

    .page_section-title {
        .title {
            .highlight {
                i {
                    width: 500px;
                }
            }
        }
    }

    .page_section-description {
        position: relative;
        width: 350px;
    }

    .icon-big-bill {
        left: 50px;
        position: absolute;
        top: 0;
    }

    .icon-shield-grey {
        left: 10%;
        position: absolute;
        top: 48%;
    }

    .icon-bars--grey {
        color: #606060;
        font-size: 1.2rem;
        font-weight: bold;
        left: 9%;
        opacity: 0.45;
        position: absolute;
        top: 12%;
    }

    .icon-money-grey {
        left: 56%;
        position: absolute;
        top: 35%;
    }

    .icon-money-white {
        position: absolute;
        right: 7%;
        top: 19%;
        z-index: 4;
    }

    .icon-check-green {
        left: 56%;
        position: absolute;
        top: 51%;
    }

    .icon-dash--grey {
        display: flex;
        width: 24px;
        height: 130px;
        position: absolute;
        left: 0;
        top: 27%;

        i {
            border-left: dotted 4px #606060;
            border-right: dotted 4px #606060;
            height: 100%;
            opacity: .5;
            display: block;
            width: 6px;
        }
    }

    .icon-plus--green {
        bottom: 26%;
        left: 19%;
        position: absolute;
    }

    .icon-plus--white {
        bottom: 20%;
        bottom: 25%;
        position: absolute;
        position: absolute;
        right: 9%;
        right: 7%;
        z-index: 4;
    }

    .btn-arrow {
        display: inline-block;
        left: 220px;
        margin-top: 2rem;
        position: relative;
    }

    .icon-moare-right {
        left: 230px;
        position: absolute;
        top: -50px;
        z-index: 3;
    }

    .icon-circle-white {
        background-color: #f2f2f2;
        border-radius: 90px;
        bottom: -20px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        height: 180px;
        left: 180px;
        position: absolute;
        width: 180px;
        z-index: 4;
    }

    .icon-circle-red {
        background-color: rgba(255, 45, 31, 0.3);
        border-radius: 400px;
        height: 600px;
        left: 0;
        position: absolute;
        top: 87%;
        width: 600px;
        z-index: 1;
    }
}
@media only screen and (max-width: 768px) {
    .page_section-s3 {
        .content {
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
            margin-top: 90px;

            .content-column.content-column--left {
                margin-right: 0;
            }

            .content-column.content-column--right {
                width: auto;
                z-index: 1;
            }

            .content-column {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .page_section-description {
            width: 100%;
        }

        .page_section-title {
            .title {
                font-size: 1.6rem;
                line-height: 1.9rem;

                .highlight {
                    i {
                        height: 74px;
                        left: -6px;
                        padding: 4px 6px;
                        top: -7px;
                        width: 320px;
                        width: 97px;
                    }
                }
            }
        }

        .btn-arrow {
            left: 50%;
            margin-left: -20px;
            margin-top: 0;
        }

        .icon-big-bill {
            left: 57px;
            top: 30px;

            img {
                width: 70%;
            }
        }

        .icon-circle-white {
            border-radius: 90px;
            bottom: 0;
            height: 90px;
            left: 130px;
            width: 90px;
        }

        .iphone-screen {
            height: 294px;
            left: 10px;
            position: absolute;
            top: 10px;
            width: 137px;

            .icon-screen-circle-red {
                border-radius: 200px;
                height: 400px;
                left: 50%;
                margin-left: -200px;
                top: -300px;
                width: 400px;
            }

            .screen-nav {
                padding: 10px;
            }

            .icon-screen-money-icon {
                margin-top: 10px;

                img {
                    width: 75%;
                }
            }

            .icon-screen-wallet {
                margin-top: 20px;
                text-align: center;

                img {
                    width: 75%;
                }
            }

            .screen-money {
                margin-top: 30px;
            }

            .text-money {
                font-size: 24px;
            }
        }

        .screen-nav {
            .gf-screen-logo {
                img {
                    width: 75%;
                }
            }

            .gf-screen-nav-button {
                img {
                    width: 75%;
                }
            }
        }

        .icon-screen-check {
            text-align: center;
            top: 110px;

            img {
                width: 70%;
            }
        }

        .icon-screen-app-buttons {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .icon-circle-red {
            background-color: rgba(255, 45, 31, 0.3);
            border-radius: 200px;
            height: 400px;
            left: -25%;
            top: 91%;
            width: 400px;
            z-index: 1;
        }
    }

    #anim-stage-s3 {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
}
