.page_section {
    background: url('./bg-s1.jpg') no-repeat center center fixed;
    background-color: #ebebeb;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200vh;

    &-title {
        .title {
            font-size: 4rem;
            line-height: 4.5rem;

            &::before {
                background-color: #000;
                color: #fff;
                font-size: 1.5rem;
                font-weight: bold;
                left: -70px;
                line-height: 1.6rem;
                padding: 0.7rem 0.5rem 0.5rem;
                position: absolute;
                top: -20px;
            }

            .highlight {
                position: relative;

                i {
                    -webkit-clip-path: inset(-1% 100% 50% -1%);
                    clip-path: inset(-1% 100% 50% -1%);
                    color: #f2f2f2;
                    font-style: normal;
                    height: 154px;
                    left: -8px;
                    padding: 0.5rem 0.5rem 0.25rem;
                    position: absolute;
                    text-align: left;
                    top: -15px;
                }
            }

            &.color-red {
                .highlight {
                    i {
                        background-color: #ff2c1e;
                    }
                }
            }

            &.color-green {
                .highlight {
                    i {
                        background-color: #00f7bf;
                    }
                }
            }
        }
    }

    &-description {
        .description-copy {
            font-size: 1.2rem;
        }
    }

    .content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        z-index: 20;

        .content-column {
            position: relative;
        }
    }
}

@media only screen and (max-width: 768px) {
    .page_section {
        background: #fefefe;

        .content {
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;

            .content-column {
                padding-left: 3rem;
                padding-right: 3rem;
                width: 100%;
            }
        }

        &-title .title {
            font-size: 2.5rem;
            line-height: 2.8rem;
            text-align: center;

            .highlight i {
                height: 105px;
                left: -8px;
                padding: 0.5rem 0.5rem 0.25rem;
                top: -14px;
            }
        }

        &-description .description-copy {
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
