/*Section 6*/
/*Circle animation*/
#s6 {
    .content-group {
        .column.left {
            margin-right: 3rem;
        }
    }

    .section-description {
        margin-left: 4rem;
        margin-top: 2rem;
    }

    .iphone-image-group {
        margin-top: 2rem;
        position: relative;
        z-index: 4;
    }

    .section-title {
        .title {
            .highlight {
                i {
                    background-color: #ff2c1e;
                }
            }

            .highlight.hl1 {
                i {
                    width: 390px;
                }
            }

            .highlight.hl2 {
                i {
                    width: 350px;
                }
            }
        }
    }

    .gf-bill-green {
        left: 12%;
        position: absolute;
        top: 10%;
    }

    .gf-plus-green {
        left: 55%;
        position: absolute;
        top: 8%;
    }

    .gf-money-grey {
        position: absolute;
        right: 8%;
        top: 56%;
    }

    .gf-plus-grey {
        opacity: 0.5;
        position: absolute;
        right: 9%;
        top: 35%;
    }

    .gf-bars-grey-1 {
        bottom: 12%;
        color: #606060;
        font-size: 1.2rem;
        font-weight: bold;
        opacity: 0.45;
        opacity: 0.5;
        position: absolute;
        right: 50%;
    }

    .gf-bars-grey-2 {
        color: #606060;
        font-size: 1.2rem;
        font-weight: bold;
        left: 8%;
        opacity: 0.45;
        opacity: 0.5;
        position: absolute;
        top: 30%;
    }

    .gf-circle-wipe-green {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clip: rect(0, 100px, 200px, 0);
        height: 200px;
        left: -80px;
        margin: 40px auto;
        position: absolute;
        top: 20%;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        width: 200px;
        z-index: 2;

        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .circle-spinner {
            background-color: #00f8c0;
            border-radius: 100px 0 0 100px;
            height: 100%;
            position: absolute;
            transform-origin: 100% 50%;
            width: 50%;
            z-index: 2;
        }
    }

    .iphone-screen {
        align-items: center;
        background-color: #ff2817;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 485px;
        left: 18px;
        overflow: hidden;
        position: absolute;
        top: 17px;
        width: 225px;
        z-index: 1;
    }

    .gf-screen-cards-background {
        left: -10px;
        position: absolute;
        top: 18px;
    }

    .gf-screen-card {
        height: 158px;
        position: absolute;
        width: 258px;

        img {
            position: relative;
            width: 100%;
            z-index: 2;
        }

        &::after {
            background-color: transparent;
            border-radius: 11px;
            -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            content: '';
            height: 156px;
            left: 1px;
            position: absolute;
            top: 1px;
            width: 257px;
            z-index: 1;
        }
    }

    .gf-screen-card-01 {
        left: -390px;
        position: absolute;
        top: 240px;
        z-index: 3;
    }

    .gf-screen-card-02 {
        left: -320px;
        position: absolute;
        top: 170px;
        z-index: 2;
    }

    .gf-screen-card-03 {
        left: -200px;
        position: absolute;
        top: 100px;
        z-index: 1;
    }

    .gf-screen-card-01-mobile {
        display: none;
    }

    .gf-screen-card-02-mobile {
        display: none;
    }

    .gf-screen-card-03-mobile {
        display: none;
    }

    .gf-screen-card-in {
        left: 17px;
        position: absolute;
        width: 192px;
        z-index: 2;

        img {
            width: 100%;
        }
    }

    .gf-screen-card-in-01 {
        top: 339px;
    }

    .gf-screen-card-in-02 {
        top: 210px;
    }

    .gf-screen-card-in-03 {
        top: 85px;
    }
}
@media only screen and (max-width: 768px) {
    #s6 {
        .iphone-screen {
            height: 294px;
            left: 10px;
            position: absolute;
            top: 10px;
            width: 137px;
        }

        .content-group {
            .column.left {
                margin-right: 0;
                width: auto;
            }
        }

        .section-title {
            .title {
                font-size: 1.6rem;
                line-height: 1.9rem;

                .highlight.hl1 {
                    i {
                        height: 74px;
                        left: -6px;
                        padding: 4px 6px;
                        top: -7px;
                        width: 52px;
                    }
                }

                .highlight.hl2 {
                    i {
                        height: 74px;
                        left: -6px;
                        padding: 4px 6px;
                        top: -7px;
                        width: 226px;
                    }
                }
            }
        }

        .section-description {
            margin-left: 0;
            margin-top: 0;
        }

        .btn-arrow {
            left: 50%;
            margin-left: -20px;
            position: relative;
        }

        .gf-screen-cards-background {
            top: 10px;
            width: 100%;

            img {
                width: 100%;
                width: 156px;
            }
        }

        .gf-screen-card-in-01 {
            left: 7px;
            top: 213px;
            width: 123px;
        }

        .gf-screen-card-in-02 {
            left: 7px;
            top: 132px;
            width: 123px;
        }

        .gf-screen-card-in-03 {
            left: 7px;
            top: 52px;
            width: 123px;
        }

        .gf-screen-card {
            height: 93px;
            width: 153px;

            &::after {
                border-radius: 6px;
                height: 93px;
                left: 0;
                top: 0;
                width: 153px;
            }
        }

        .gf-screen-card-01 {
            display: none;
        }

        .gf-screen-card-02 {
            display: none;
        }

        .gf-screen-card-03 {
            display: none;
        }

        .gf-screen-card-01-mobile {
            display: block;
            top: 200px;

            img {
                width: 153px;
            }
        }

        .gf-screen-card-02-mobile {
            display: block;
            top: 160px;

            img {
                width: 153px;
            }
        }

        .gf-screen-card-03-mobile {
            display: block;
            top: 120px;

            img {
                width: 153px;
            }
        }
    }
}
