/* *************************************************************************
ESTILOS GENERALES DISEÑO
************************************************************************* */

.small,
small {
  font-size: 40%;
  font-weight: inherit;
}
.color-red {
  color: #ff2c1e;
}
.color-green {
  color: #00f7bf;
}

.pl-6 {
  padding-left: 6rem;
}

.gf-dash-green,
.gf-dash-grey {
  position: absolute;
  width: 24px;
  height: 130px;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
}
.gf-dash-green i {
  border-left: dotted 4px #00f8c0;
  border-right: dotted 4px #00f8c0;
  height: 100%;
  display: block;
  width: 6px;
}
.gf-dash-grey i {
  border-left: dotted 4px #606060;
  border-right: dotted 4px #606060;
  height: 100%;
  opacity: 0.5;
  display: block;
  width: 6px;
}
button:focus {
  outline: none;
}
.btn-signup-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  section {
    background: #fefefe;
  }

  .content-group {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .content-group .column {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
  }
  .section-title .title {
    font-size: 2.5rem;
    line-height: 2.8rem;
    text-align: center;
  }

  .section-description .description {
    font-size: 0.9rem;
    text-align: center;
  }
  .section-title .title .highlight i {
    height: 105px;
    left: -8px;
    top: -14px;
    padding: 0.5rem 0.5rem 0.25rem;
  }

  .pl-6 {
    padding-left: 0;
  }
  .btn-login {
    display: none;
  }
  .btn-signup {
    display: none;
  }
  .btn-signup-mobile {
    display: block;
  }
  .btn {
    font-size: 0.8rem;
  }
  .screen-video video {
    width: 137px;
  }
}

/* *************************************************************************
IPHONE SCREENS
************************************************************************* */
/*Hardware*/
.iphone-image-group {
  position: relative;
}

.iphone-image-group .iphone-hardware {
  position: relative;
  z-index: 2;
}

.iphone-s1 .iphone-hardware {
  width: 422px;
  height: 513px;
  background-size: 422px 513px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s1.png");
}
.iphone-s2 .iphone-hardware {
  width: 260px;
  height: 519px;
  background-size: 260px 519px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s2.png");
}
.iphone-s3 .iphone-hardware {
  width: 207px;
  height: 546px;
  background-size: 207px 546px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s3.png");
}
.iphone-s4 .iphone-hardware {
  width: 260px;
  height: 519px;
  background-size: 260px 519px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s4.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .iphone-s1 .iphone-hardware {
    background-image: url("../images/iphone-s1@2x.png");
  }
  .iphone-s2 .iphone-hardware {
    background-image: url("../images/iphone-s2@2x.png");
  }
  .iphone-s3 .iphone-hardware {
    background-image: url("../images/iphone-s3@2x.png");
  }
  .iphone-s4 .iphone-hardware {
    background-image: url("../images/iphone-s4@2x.png");
  }
}

@media only screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 992px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 992px) and (min-resolution: 144dpi) {
  .image-hardware-iphonex {
    background-image: url("../images/hardware_iphonex_medium_2x.jpg");
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 768px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 768px) and (min-resolution: 144dpi) {
  .iphone-s1 .iphone-hardware {
    background-image: url("../images/iphone-s1-small.png");
  }
  .iphone-s4 .iphone-hardware {
    background-image: url("../images/iphone-s4-small.png");
  }
}
@media only screen and (max-width: 768px) {
  .iphone-s1 .iphone-hardware {
    width: 296px;
    height: 360px;
    background-size: 296px 360px;
    background-repeat: no-repeat;
    background-image: url("../images/iphone-s1-small@2x.png");
  }
  .iphone-s4 .iphone-hardware {
    width: 156px;
    height: 313px;
    background-size: 156px 313px;
    background-repeat: no-repeat;
    background-image: url("../images/iphone-s4-small@2x.png");
  }

  .ocultar-mobile {
    display: none;
  }
}

/*Shadow*/
.iphone-image-group .iphone-shadow {
  position: absolute;
  z-index: -1;
}

.iphone-s1 .iphone-shadow {
  width: 476px;
  height: 21px;
  background-size: 476px 21px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s1-shadow.png");
  bottom: -58px;
  left: -36px;
}
.iphone-s2 .iphone-shadow {
  width: 744px;
  height: 126px;
  background-size: 744px 126px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s2-shadow.png");
  top: 435px;
  left: -330px;
}
.iphone-s3 .iphone-shadow {
  width: 769px;
  height: 369px;
  background-size: 769px 369px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s3-shadow.png");
  bottom: -133px;
  left: -372px;
}
.iphone-s4 .iphone-shadow {
  width: 744px;
  height: 126px;
  background-size: 744px 126px;
  background-repeat: no-repeat;
  background-image: url("../images/iphone-s2-shadow.png");
  top: 435px;
  left: -330px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi) {
  .iphone-s1 .iphone-shadow {
    background-image: url("../images/iphone-s1-shadow@2x.png");
  }
  .iphone-s2 .iphone-shadow,
  .iphone-s4 .iphone-shadow {
    background-image: url("../images/iphone-s2-shadow@2x.png");
  }
  .iphone-s3 .iphone-shadow {
    background-image: url("../images/iphone-s3-shadow@2x.png");
  }
}

@media only screen and (max-width: 768px) {
  .iphone-s1 .iphone-shadow {
    width: 286px;
    height: 13px;
    background-size: 286px 13px;
    background-repeat: no-repeat;
    background-image: url("../images/iphone-s1-shadow-small.png");
    bottom: -17px;
    left: 4px;
  }
  .iphone-s2 .iphone-shadow,
  .iphone-s4 .iphone-shadow {
    width: 447px;
    height: 76px;
    background-size: 447px 76px;
    background-repeat: no-repeat;
    background-image: url("../images/iphone-s2-shadow-small.png");
    top: 263px;
    left: -198px;
  }
}
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 768px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 768px) and (min-resolution: 144dpi) {
  .iphone-s1 .iphone-shadow {
    background-image: url("../images/iphone-s1-shadow-small@2x.png");
  }
  .iphone-s2 .iphone-shadow,
  .iphone-s4 .iphone-shadow {
    background-image: url("../images/iphone-s2-shadow-small@2x.png");
  }
}
