@font-face {
    font-display: swap;
    font-family: 'Gotham';

    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Gotham-Light.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Light.woff') format('woff'),
        url('../assets/fonts/Gotham-Light.ttf') format('truetype'),
    
        url('../assets/fonts/Gotham-Light.svg#62f75ccd04c776030ca293d074e92944')
        format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Gotham';

    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Medium.woff') format('woff'),
        url('../assets/fonts/Gotham-Medium.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Medium.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Gotham';

    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/copyfonts.com_gotham-black.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/copyfonts.com_gotham-black.eot?#iefix')
        format('embedded-opentype'),
        url('../assets/fonts/copyfonts.com_gotham-black.woff') format('woff'),
        url('../assets/fonts/copyfonts.com_gotham-black.ttf')
        format('truetype'),
    
        url('../assets/fonts/copyfonts.com_gotham-black.svg#ba4ac0babd0f10b69ed14d91cd5c8788')
        format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/copyfonts.com_gotham-book.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/copyfonts.com_gotham-book.eot?#iefix')
        format('embedded-opentype'),
        url('../assets/fonts/copyfonts.com_gotham-book.woff') format('woff'),
        url('../assets/fonts/copyfonts.com_gotham-book.ttf')
        format('truetype'),
    
        url('../assets/fonts/copyfonts.com_gotham-book.svg#65526539dec42e535893223c14767f58')
        format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Gotham';

    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Gotham-Bold.woff') format('woff'),
        url('../assets/fonts/Gotham-Bold.ttf') format('truetype'),
        url('../assets/fonts/Gotham-Bold.svg') format('svg'); /* Legacy iOS */
}
