[parallax-error]::after {
    background: red;
    bottom: 0;
    color: white;
    content: attr(parallax-error);
    padding: 0.2em 0.4em;
    position: absolute;
    right: 0;
    z-index: 1000;
}

/* Position fixed: ensures smooth animation across browsers */
[parallax~='anim-stage'],
[parallax~='anim-stage-smooth'] {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

[parallax~='anim-stage-smooth']::before,
[parallax~='anim-stage']::before {
    /*content: attr(parallax-progress);*/
    color: silver;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 100;
}

/* We can hide whole content when it is off-screen = animation status is "off" */
[parallax~='anim-stage'][parallax-status='off'],
[parallax~='anim-stage-smooth'][parallax-status='off'] {
    display: none;
}
