@import './fonts';

html {
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Gotham', 'Roboto', sans-serif;
}

a {
    color: #ff2c1e;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

.app-container {
    display: flex;
    flex-direction: column;
}

@import './parallax';
