/*Section 7*/
#s7 {
    .content {
        .content__column.content__column--left {
            margin-right: 3rem;
            z-index: 2;
        }
    }

    .iphone-screen {
        align-items: center;
        background-color: #ff2817;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 485px;
        left: 18px;
        overflow: hidden;
        position: absolute;
        top: 17px;
        width: 225px;
        z-index: 1;

        .screen-nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 30px 25px;
            position: relative;
            width: 100%;
            z-index: 2;
        }

        .gf-screen-app-buttons {
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: 10;
        }
    }

    .page_section__title {
        width: 520px;
    }

    .page_section__description {
        width: 310px;
    }

    .notification-container {
        background-color: #272425;
        border-radius: 40px;
        height: 45px;
        position: relative;
        top: 120px;
        width: 160px;

        .notification-btn {
            left: 2px;
            position: relative;
            top: 2px;
        }
    }

    .notification-container-mobile {
        display: none;
    }

    .gf-moare-right {
        position: absolute;
        right: -180px;
        top: -40px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .gf-circle-green {
        background-color: rgb(0, 246, 190);
        border-radius: 100px;
        height: 200px;
        position: absolute;
        right: -40px;
        top: 200px;
        width: 200px;
    }
}
@media only screen and (max-width: 768px) {
    #s7 {
        .content {
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;

            .content__column {
                width: auto;
            }

            .content__column.content__column--left {
                margin: 0;
            }
        }

        .btn-arrow {
            left: 50%;
            margin-left: -20px;
            position: relative;
        }

        .iphone-screen {
            height: 294px;
            left: 10px;
            position: absolute;
            top: 10px;
            width: 137px;

            .screen-nav {
                padding: 10px;
            }
        }

        .screen-nav {
            .gf-screen-logo {
                img {
                    width: 75%;
                }
            }

            .gf-screen-nav-button {
                img {
                    width: 75%;
                }
            }
        }

        .gf-screen-app-buttons {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .page_section__title {
            margin: 0 auto;
            width: 210px;

            .title {
                font-size: 1.6rem;
                line-height: 1.9rem;

                .highlight.hl1 {
                    i {
                        height: 74px;
                        left: -6px;
                        padding: 4px 6px;
                        top: -7px;
                        width: 159px;
                    }
                }

                .highlight.hl2 {
                    i {
                        height: 74px;
                        left: -6px;
                        padding: 4px 6px;
                        top: -7px;
                        width: 145px;
                    }
                }
            }
        }

        .notification-container {
            display: none;
        }

        .notification-container-mobile {
            background-color: #272425;
            border-radius: 40px;
            display: block;
            height: 35px;
            position: relative;
            top: 80px;
            width: 110px;

            .notification-btn-mobile {
                left: 2px;
                position: relative;
                top: 1px;
                width: 32px;
            }
        }

        .gf-moare-right {
            right: -60px;
            top: -40px;

            img {
                width: 157px;
            }
        }

        .gf-circle-green {
            height: 120px;
            left: 120px;
            top: 120px;
            width: 120px;
        }
    }
}
