/*Section 2*/
/*Circle animation*/
#s2 {
    .content {
        .content__column.content__column--left {
            width: 360px;
        }

        .content__column.content__column--right {
            width: 600px;
        }
    }

    .page_section__title {
        .title {
            .highlight.highlight--first {
                i {
                    width: 303px;
                }
            }

            .highlight.highlight--second {
                i {
                    width: 193px;
                }
            }
        }
    }

    .page_section__description {
        margin-left: 6rem;
        margin-top: 2rem;
        width: 360px;
    }

    .icon__circle-wipe--green {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        clip: rect(0, 250px, 500px, 0);
        height: 500px;
        left: -190px;
        margin: 40px auto;
        position: absolute;
        top: -110px;
        -webkit-transform: rotate(160deg);
        -ms-transform: rotate(160deg);
        transform: rotate(160deg);
        width: 500px;
        z-index: 2;

        * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        .circle-spinner {
            background: #00f8c0;
            border-radius: 250px 0 0 250px;
            height: 100%;
            position: absolute;
            transform-origin: 100% 50%;
            width: 50%;
            z-index: 200;
        }
    }

    .btn-arrow {
        bottom: 24%;
        position: absolute;
        right: 12%;
        z-index: 2;
    }

    .icon__dash--green {
        left: 0;
        top: 35%;
    }

    .gf-money-red {
        position: absolute;
        right: 15%;
        top: 40%;
    }

    .gf-shield-green {
        position: absolute;
        right: 15%;
        top: 50%;
    }

    .icon__bars--grey {
        bottom: 15%;
        color: #606060;
        font-size: 1.2rem;
        font-weight: bold;
        opacity: 0.45;
        position: absolute;
        right: 5%;
    }

    .icon__bars--green {
        bottom: 44%;
        color: #00f8c0;
        font-size: 1.2rem;
        font-weight: bold;
        left: 44%;
        position: absolute;
    }

    .icon__box---red {
        background-color: #ff2c1e;
        height: 3px;
        left: 3%;
        position: absolute;
        top: 60%;
        width: 40px;
    }
}
@media only screen and (max-width: 768px) {
    #s2 {
        .content {
            .content__column.content__column--left {
                height: 150px;
                z-index: 1;
            }

            .content__column.content__column--right {
                width: 100%;
                z-index: 2;
            }
        }

        .page_section__title {
            .title {
                .highlight.highlight--first {
                    i {
                        width: 195px;
                    }
                }

                .highlight.highlight--second {
                    i {
                        width: 126px;
                    }
                }
            }
        }

        .btn-arrow {
            bottom: 24%;
            right: 12%;
            z-index: 2;
        }

        .icon__circle-wipe--green {
            clip: rect(0, 150px, 300px, 0);
            height: 300px;
            left: -40px;
            top: -40px;
            width: 300px;

            .circle-spinner {
                border-radius: 150px 0 0 150px;
            }
        }

        .page_section__description {
            margin-left: 0;
            margin-top: 2rem;
            text-align: center;
            width: auto;
        }

        .gf-money-red {
            right: 5%;
            top: 40%;
        }

        .gf-shield-green {
            right: 5%;
            top: 50%;
        }
    }
}
