/*Section 8*/
#s8 {
    background-color: #000;

    .content-group {
        .column.left {
            margin-right: 3rem;
        }
    }

    .iphone-screen {
        align-items: center;
        background-color: #ff2817;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 485px;
        left: 18px;
        overflow: hidden;
        position: absolute;
        top: 17px;
        width: 225px;
        z-index: 1;

        .screen-nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 30px 25px;
            position: relative;
            width: 100%;
            z-index: 2;
        }
    }

    .gf-moare-left {
        left: -200px;
        position: absolute;
        top: 0;
    }

    .gf-moare-right {
        position: absolute;
        right: -140px;
        top: -40px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .clock {
        position: absolute;
        top: 150px;
    }

    .clockwise {
        position: absolute;
    }

    .clockwise-black {
        height: 200px;
        margin-left: 0;
        width: 2px;

        &::before {
            background-color: #000;
            content: '';
            height: 100px;
            left: 0;
            position: absolute;
            top: 0;
            width: 2px;
        }
    }

    .clockwise-white {
        height: 180px;
        margin-left: -1px;
        top: 10px;
        width: 3px;

        &::before {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            height: 120px;
            left: 0;
            position: absolute;
            top: 0;
            width: 3px;
        }
    }

    .clockwise-purple {
        height: 160px;
        margin-left: -3px;
        top: 20px;
        width: 6px;

        &::before {
            background-color: #a921c3;
            border-radius: 3px;
            content: '';
            height: 105px;
            left: 0;
            position: absolute;
            top: 0;
            width: 6px;
        }

        &::after {
            background-color: #a921c3;
            border-radius: 5px;
            content: '';
            height: 10px;
            left: -2px;
            position: absolute;
            top: 74px;
            width: 10px;
        }
    }
}
@media only screen and (max-width: 768px) {
    #s8 {
        background: url('../../Components/ParallaxSection/bg-s1.jpg') no-repeat center center fixed;
        background-color: #000;

        .iphone-screen {
            height: 294px;
            left: 10px;
            position: absolute;
            top: 10px;
            width: 137px;

            .screen-nav {
                padding: 10px;
            }
        }

        .content-group {
            .column.left {
                margin-right: 0;
                width: auto;
            }
        }

        .screen-nav {
            .gf-screen-logo {
                img {
                    width: 75%;
                }
            }

            .gf-screen-nav-button {
                img {
                    width: 75%;
                }
            }
        }

        .clock {
            top: 96px;
        }

        .clockwise-black {
            height: 130px;
            margin-left: 0;
            width: 2px;

            &::before {
                height: 70px;
                width: 2px;
            }
        }

        .clockwise-white {
            height: 110px;
            margin-left: -1px;
            top: 10px;
            width: 3px;

            &::before {
                border-radius: 3px;
                height: 75px;
                width: 3px;
            }
        }

        .clockwise-purple {
            height: 90px;
            margin-left: -3px;
            top: 20px;
            width: 6px;

            &::before {
                height: 60px;
                width: 4px;
            }

            &::after {
                border-radius: 5px;
                content: '';
                height: 8px;
                top: 42px;
                width: 8px;
            }
        }

        .gf-moare-left {
            left: -60px;
            top: 0;
            width: 157px;

            img {
                width: 100%;
            }
        }

        .gf-moare-right {
            right: -60px;
            top: -40px;
            width: 157px;

            img {
                width: 100%;
            }
        }
    }
}
