@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gotham-Light.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Gotham-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Gotham-Light.svg#62f75ccd04c776030ca293d074e92944")
      format("svg"); /* Legacy iOS */

  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gotham-Medium.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Gotham-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Gotham-Medium.svg") format("svg"); /* Legacy iOS */

  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/copyfonts.com_gotham-black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/copyfonts.com_gotham-black.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/copyfonts.com_gotham-black.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/copyfonts.com_gotham-black.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/copyfonts.com_gotham-black.svg#ba4ac0babd0f10b69ed14d91cd5c8788")
      format("svg"); /* Legacy iOS */

  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/copyfonts.com_gotham-book.eot"); /* IE9 Compat Modes */
  src: url("../fonts/copyfonts.com_gotham-book.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/copyfonts.com_gotham-book.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/copyfonts.com_gotham-book.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/copyfonts.com_gotham-book.svg#65526539dec42e535893223c14767f58")
      format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Gotham-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Gotham-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Gotham-Bold.svg") format("svg"); /* Legacy iOS */

  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
