[parallax-error]::after {
  content: attr(parallax-error);
  background: red;
  color: white;
  position: absolute;
  z-index: 1000;
  bottom: 0px;
  right: 0px;
  padding: 0.2em 0.4em;
}

/* Position fixed: ensures smooth animation across browsers */
[parallax~="anim-stage"],
[parallax~="anim-stage-smooth"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  flex-flow: column;
}

[parallax~="anim-stage-smooth"]::before,
[parallax~="anim-stage"]::before {
  /*content: attr(parallax-progress);*/
  color: silver;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 100;
}

/* We can hide whole content when it is off-screen = animation status is "off" */
[parallax~="anim-stage"][parallax-status="off"],
[parallax~="anim-stage-smooth"][parallax-status="off"] {
  display: none;
}
