.paging {
  position: fixed;
  right: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 8px;
    line-height: 20px;
    margin: 5px 0px;

    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
  }
}
