.paging {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: fixed;
    right: 10px;

    a {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        color: white;
        display: block;
        font-size: 8px;
        height: 10px;
        line-height: 20px;
        margin: 5px 0;
        position: relative;

        text-align: center;
        text-decoration: none;
        width: 10px;
    }
}
